
snscrape
tweepy
configparser
textblob
wordcloud
pymongo[srv]
django
appnope 
asttokens 
backcall 
backports.functools-lru-cache 
comm 
contourpy==1.1.0
cycler==0.11.0
debugpy 
decorator 
dnspython==2.4.2
executing 
fonttools==4.42.1
importlib-metadata 
ipykernel 
ipython 
jedi 
joblib==1.3.2
kiwisolver==1.4.4
matplotlib-inline 
nest-asyncio 
numpy==1.25.2
packaging 
pandas==2.0.3
parso 
patsy==0.5.3
pexpect 
pickleshare 
Pillow==10.0.0
platformdirs 
prompt-toolkit 
psutil 
ptyprocess 
pure-eval 
Pygments 
pymongo==4.4.1
pyparsing==3.0.9
python-dateutil 
pytz==2023.3
pyzmq 
six 
stack-data 
statsmodels==0.14.0
threadpoolctl==3.2.0
tornado 
traitlets 
typing_extensions 
tzdata==2023.3
wcwidth 
zipp 
