{% extends 'base.html' %} {% block title %}
<h4>Social Market Int</h4>
{% endblock title %} {% block body %}

<main id="main" class="main">
  <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <style>
    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before {
      bottom: 0.5em;
    }
  </style>

  <script>
    $(document).ready(function () {
      $("#dtOrderExample").DataTable({
        order: [[2, "desc"]],
      });
      $(".dataTables_length").addClass("bs-select");
    });
  </script>

  <div class="card">
    <div class="text-md-center" style="margin-top: 20px">
      <h4 style="color: cornflowerblue">
        <b>GMX Top Trader Activity Dashboard</b>
      </h4>
      <br />
    </div>
  </div>

  <!-- Table starts -->

  <section class="card">
    <div class="overflow-auto" style="height: 550px; overflow-y: scroll">
      <table id="dtOrderExample" class="table table-bordered">

        <p class="text-md-center" style="color:cornflowerblue;">Live data updates every <b>6</b> hours
        </p>


        <thead class="table-primary">
          <tr>
            <th scope="col">Last Trade</th>
            <th scope="col">Market</th>
            <!-- <th scope="col">Trade</th> -->
            <th scope="col">Trade</th>
            <!-- <th scope="col">Price</th> -->
            <th scope="col">Volume USD</th>
            <th scope="col">Margin USD</th>
            <!-- <th scope="col">Leverage Size</th> -->
            <!-- <th scope="col">Trader</th> -->
          </tr>
        </thead>
        <tbody>
          {% for key, trader in traders.items %}
          <tr>
            <td>{{ trader.block_time }}</td>
            <td>{{ trader.virtual_asset}}</td>
            <!-- <td>{{ trader.trade }}</td> -->
            <td>{{ trader.trade }}</td>
            <!-- <td>{{ trader.price }}</td> -->
            <td>{{ trader.volume_usd }}</td>
            <td>{{ trader.margin_usd }}</td>
            <!-- <td>{{ trader.leverage_size }}</td> -->
            <!-- <td>{{ trader.trader}}</td> -->
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
  <!-- table ends -->

  <br />

  <!-- donut chart and bar chart starts -->
  <section>
    <section class="section">
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">BTC POSITION ACTIVITY</h5>
              <!-- Donut Chart -->
              <div id="donutChartBTC"></div>
              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new ApexCharts(document.querySelector("#donutChartBTC"), {
                    series: {{ volume_usd_btc }},
                  chart: {
                  height: 350,
                  type: 'donut',
                  toolbar: {
                    show: true
                  }
                },
                  labels: {{ trade_type_btc| safe}},
                    }).render();
                });
              </script>
              <!-- End Donut Chart -->
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">ETH POSITION ACTIVITY</h5>
              <!-- Donut Chart -->
              <div id="donutChartETH"></div>
              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new ApexCharts(document.querySelector("#donutChartETH"), {
                    series: {{ volume_usd_eth }},
                  chart: {
                  height: 350,
                  type: 'donut',
                  toolbar: {
                    show: true
                  }
                },
                  labels: {{ trade_type_eth| safe}},
                    }).render();
                });
              </script>
              <!-- End Donut Chart -->
            </div>
          </div>
        </div>


        
      </div>
    </section>
  </section>

  <!-- END here -->


  <!-- END here -->



  <section class="container-fluid">
    <div class="card" style="height: fit-content">
      <div class="card-body">
        <div class="text-md-center">
          <h4 class="card-title bg-primary-light">
            Latest Whale Movements !!!
          </h4>
        </div>

        <!-- List group With Contextual classes -->
        <ul class="row">
          {% for whale in whale_alert_movements_list %}
          <li>
            {{whale |safe}}
          </li>
          {% endfor %}
        </ul>
        <!-- End  NEWS SECTION -->
      </div>
    </div>
  </section>
  <section>
    <div class="card" style="height: fit-content">
      <div class="card-body">
        <div class="text-md-center">
          <h4 class="card-title bg-primary-light">
            Whats brewing in crypto??? &#x2615;
          </h4>
        </div>

        <!-- List group With Contextual classes -->
        <ul class="list-group">
          {% for news,url in news_list %}
          <li class="list-group-item" onclick="window.location.href='{{url}}'">
            {{news}}
          </li>
          {% endfor %}
        </ul>
        <!-- End  NEWS SECTION -->
      </div>
    </div>

  </section>
</main>

{% endblock body %}